*{
    font-family: 'Mitr', sans-serif;
}
.sphere {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: sticky;
    margin-bottom: 50px;
}
.divider,
.divider:after {
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
}

.divider {
    background-color: #575851; /* Dark */
}

.divider:after {
    content: '';
    background-color: #fff01e; /* Light */
    transform: rotateY(180deg);
}
.hemisphere {
    width: 50%;
    height: 100%;
}

.light {
    background-color: #fff01e;
}

.dark {
    background-color: #575851;
}
