@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

*{
    font-family: 'Mitr', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    color: #000;
    text-decoration: none;
}

.logo p {
    font-size: 2.5rem;
    font-weight: 600;
}

::selection{
    background-color: var(--Soft-Red);
    color: #fff;
}


::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--Soft-Blue);
}

section {
    padding: 2rem 9%;
    font-family: 'Mitr', sans-serif;

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 3rem;
    color: var(--Very-Dark-Blue);
    margin-top: 10rem;
    margin-bottom: 0rem;
}


.heading h1{
    padding-bottom: 0.5rem;
}


.heading p{
    max-width: 60rem;
    margin: auto;
    color: var(--Grayish-Blue);
    font-size: 1.7rem;
}


.all-btn{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: var(--Soft-Blue);
    border-radius: .5rem;
    color: #fff;
}

.all-btn:hover{
    background-color: transparent;
    color: var(--Soft-Blue);
    border: 2px solid var(--Soft-Blue);
}


:root{
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
    --box-shadow: .5rem .5rem  0 hsl(231, 69%, 60%);
    --text-shadow: .4rem .4rem  0 rgba(0, 0, 0, .2);
    --border: .2rem  solid var(--green);
}


/* navbar sections starts */
.header{
    padding: 2.2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0%;
    left: 0;
    z-index: 10000;
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);
    background-color: #fff;
}


.header .logo{
    cursor: pointer;
    overflow: hidden;
}


.header .navbar a{
    margin-left: 2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    overflow: hidden;
}


.header .navbar a:hover{
    color: var(--Soft-Red);
    overflow: hidden;
}


.header .navbar .btn{
    padding: .6rem 3rem;
    background-color: var(--Soft-Red);
    color: #fff;
    border-radius: .5rem;
}

.header .navbar .btn:hover{
    color: var(--Soft-Red);
    background-color: transparent;
    border: 2px solid var(--Soft-Red);
}

#menu-btn{
    padding: 1rem 1rem;
    background-color: #eee;
    font-size: 3rem;
    color: var(--Soft-Blue);
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}



/* Media Queries */




@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    
}

@media (max-width: 768px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        box-shadow: var(--box-shadow);
        width: 33rem;
        border-radius: .5rem;
        border: 2px solid var(--Soft-Blue);
        background-color: #fff;
        transform: scale(0);
        transform-origin: top right;
    }

    .header .navbar.active{
        transform: scale(1);
    }

    .header .navbar a{
        margin: 2.5rem;
        text-align: center;
        display: block;
        font-size: 2rem;
    }

}


@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    
}
/* navbar sections ends */


/* home section starts  */

.home{
    padding-top: 12rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* main property for responsiveness */
    gap: 1.5rem;

}
.home .sphere, .home .h-water {
    padding: 0;
}

.home .content{
    flex: 1 1 45rem;
}


.home .content h1{
    font-size: 5rem;
    
    color: var(--Very-Dark-Blue);
}

.home .content p{
    font-size: 1.7rem;
    padding: 1rem 0;

    max-width: 60%;
    color: var(--Grayish-Blue);

}





/* home section ends */



/* features section starts  */

.features .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 3rem 0;
}

.features .row .image{
    flex: 1 1 45rem;
}


.features .row .image img{
    width: 100%;
}



.features .row .prove-align  {
    width: 100%;
    align-items: center;
}
.features .column {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 3rem 0;
    

}
.features .column .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/* features section ends */


/* downloads section starts  */

 

.download .responsive-iframe{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 0;
}
.download .img-res{
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: relative;
    padding-bottom: 0;
}
.download .content-container ul.num{
    list-style-type: decimal;
}

.download .content-container ul li#h2{
    font-size: 2rem;
}

.download .content-container ul li#circle-content
{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--Grayish-Blue);
}
.download .content-container ul p#bold 
{
    font-size: 2rem;
    font-weight: 600;
    padding-left: 30%;
    color: var(--Grayish-Blue);

}
.download .content-container p {
    font-size: 1.7rem;
    color: var(--Grayish-Blue);
    padding-left: 3%;
}
.download .content-container p#normal {
    font-size: 1.7rem;
    color: var(--Grayish-Blue);
    padding-left: 0;
}
.download .content-container .num-in ul {
    padding-left: 4%;
}
.download .content-container .num-in ul li{
    font-size: 1.7rem;
    color: var(--Grayish-Blue);
}

/* downloads section ends */



/* footer section starts */
.footer .responsive-iframe{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 0;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .content-container h2{
    font-size: 2.5rem;
    
}

.footer .content-container p{
    font-size: 1.7rem;
    padding: 0.5rem 0;
    max-width: 100%;
    color: var(--Grayish-Blue);

}

.footer .content-container p#out-head{
    color: #000;
    font-size: 2rem;
}
.footer .content-container p#black{
    color: #000;
    padding-left: 2%;
}

.footer .content-container p#in{
    padding-left: 3%;
}

.footer .content-container ul.c {
    list-style-type: circle;
    padding: 3%;
}

.footer .content-container ul.c li{
    font-size: 1.7rem;
    color: var(--Grayish-Blue);
}

.footer .content-container ul.num li {
    font-size: 1.7rem;
    list-style-type: decimal;
}
.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #000;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}


.footer .credit span{
    color: var(--Soft-Red);
    cursor: pointer;
}


/* footer section ends */